* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 500px;
  margin: 0 auto;
}

form {
  background-color: rgb(226, 223, 219);
  padding: 1rem;
  margin: 1rem 0 0 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 15px;
}

input,
textarea,
select,
button {
  width: 450px;
  margin-bottom: 1.5rem;
}

label {
  display: block;
  margin-bottom: 5px;

}

button {
  background-color: aquamarine;
  color: black;
  padding: .5rem;
  border: dashed 1px cornflowerblue;
  border-radius: 10px
}